# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# temporary files
.dfx/
.parcel-cache
.vscode

# frontend code
node_modules/
dist/

# environment variables
.env.development
.env.production
